@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .bg-white {
  background-color: transparent !important; 
}

.dark {
  background: linear-gradient(to bottom right, #0f172a, #1e293b, #0f172a) !important;
}
