version: '3.9'
name: portfolio-postgres

services:
  postgres:
    image: postgres:16-alpine
    container_name: portfolio-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}        
    ports:
      - "${DB_PORT}:5432"                       
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

# docker compose up -d
# docker ps 
# docker logs portfolio-postgres